TARGET /fulfillment-messages?searchNearby=true

LOAD https://www.apple.com/au_edu_800611/shop/buy-mac/macbook-air
SLEEP 20
WAIT_LOCATE //button[@class="rf-pickup-quote-overlay-trigger as-buttonlink icon icon-after icon-pluscircle"]
CLICK //button[@class="rf-pickup-quote-overlay-trigger as-buttonlink icon icon-after icon-pluscircle"]
WAIT_LOCATE //input[@class="form-textbox-input"]
INPUT //input[@class="form-textbox-input"] 3000
CLICK //form[@class="rf-storelocator-form"]/div/div[2]/button
WAIT_LOCATE //div[@class="rf-storelocator-contentsection rf-storelocator-showfootnote"]//fieldset/div/li[10]/label/span/span
TEST apple
