TARGET /resource/BaseSearchResource/get

LOAD https://www.pinterest.com.au/search/pins/?rs=ac&len=2&q=food&eq=food&etslf=1182&term_meta[]=food%7Cautocomplete%7C0
SLEEP 120
WAIT_LOCATE //div[@id="mweb-unauth-container"]/div/div/div[3]/div/div/div/div[2]/div/div/div/div/div/div/div/div/div/div/div/a/div/div/div/div/div/div/div/div/div/div/div/img
TEST pinterest
