TARGET /success-stories.atmosphere.search.json?

LOAD https://business.x.com/en/advertising?ref=gl-tw-tw-twitter-advertise
WAIT_LOCATE //main[@id="main"]/div/div/div/div/div/div[4]/div/div/div/div/div/div/div/div/div/div/div/div[3]/div/div/div/div/div/ol/div/li/span/div/div/a/div[2]/div/div[2]/p
TEST twitter
