TARGET /rest/v1.0/products?product_slugs=

LOAD https://wordpress.com/hosting/?ref=logged-out-homepage-lp
SLEEP 15
SCROLL END
WAIT_LOCATE //body[@class="wp-singular page-template page-template-page-landpack page-template-page-landpack-php page page-id-18014322 wp-embed-responsive wp-theme-h4 jetpack-reblog-enabled"]/main/div[8]/div/div[3]/div[2]/div/div/div
TEST wordpress
