TARGET /youtubei/v1/browse?prettyPrint=false

LOAD https://www.youtube.com/@ShaananCohney/featured
WAIT_LOCATE //div[@id="content"]/ytd-page-manager/ytd-browse/div[4]/ytd-tabbed-page-header/tp-yt-app-header-layout/div/tp-yt-app-header/div[2]/div/div/yt-page-header-renderer/yt-page-header-view-model/div/div/div/yt-description-preview-view-model/truncated-text/button
CLICK //div[@id="content"]/ytd-page-manager/ytd-browse/div[4]/ytd-tabbed-page-header/tp-yt-app-header-layout/div/tp-yt-app-header/div[2]/div/div/yt-page-header-renderer/yt-page-header-view-model/div/div/div/yt-description-preview-view-model/truncated-text/button
SLEEP 10
WAIT_LOCATE //tp-yt-paper-dialog[@class="style-scope ytd-popup-container"]/ytd-engagement-panel-section-list-renderer/div[2]/ytd-section-list-renderer/div[2]/ytd-item-section-renderer/div[3]/ytd-about-channel-renderer/div/yt-attributed-string[2]/span
TEST youtube
